=semantic_form_for [@setor] do |form|
  
   =form.input :nomesetor, :label => 'Nomesetor'
   =form.input :coordenador, :label => 'Coordenador'
   =form.input :totalsetor, :label => 'Totalsetor'
   =form.input :emailsetor, :label => 'Emailsetor'
   =form.input :ramal, :label => 'Ramal'
   =form.submit 'Salvar'
